.document-category.py-5
    .container
        .row
            .col-md-8
                .details
                    h1= bodyData.title
                    p.font-italic.pb-2
                        | Posted #{bodyData.creation_date} by 
                        span.font-weight-bold= bodyData.author
                        |  & filed under 
                        - const filteredArray = bodyData.tags.filter(value => categories.includes(value));
                        - let str =filteredArray.join()
                        span.font-weight-bold=str
                        | .

                    .content 
                        | !{bodyData.content}

                    .share.border-top-1
                        hr.mt-3.mb-3
                        p.mb-0 Share This
                        a(href="#")
                            i(class="fab fa-facebook")
                        a(href="#")
                            i(class="fab fa-facebook")

            include ./blogRightContent
