.col-md-8
	each item in allBlogs
		.details.py-4.shadow.px-3.mb-5
			a(href= item.url_path + item.name)
				h4= item.title
			p.font-italic.pb-2
				| Posted #{item.creation_date} by 
				span.font-weight-bold=item.author
				|  & filed under 
				- const filteredArray = item.tags.filter(value => categories.includes(value));
				- let str =filteredArray.join()
				span.font-weight-bold=str
				| .
			.content
				if item.images
					img.img-fluid.mx-auto.d-block.mb-3(src=item.images)
				p= item.abstract
				a.btn.btn-danger.blog-read-more-btn(href= item.url_path + item.name ) Read More