- var localVal = 0;
.document-category.py-5
	.container

		nav
			ol.breadcrumb.breadcrumb-custom
				li.breadcrumb-item
					a(href='/') Home
				li.breadcrumb-item
					a(href='/support') Support
				li.breadcrumb-item.text-capitalize
					a(href=`/docs/category/${parentNode}`)= parentNode
				li.breadcrumb-item.active(aria-current='page')= bodyData.title

		.row

			.col-md-8
				.details.py-4
					h1.pb-2= bodyData.title
					#answer-content.content
						| !{bodyData.content}
					//- .prev-next.py-5
					//- 	h2 Post navigation

					//- 	if prevNextPost[0]
					//- 		a.d-block(href=prevNextPost[0].path)
					//- 			i.fas.fa-long-arrow-alt-left.mr-1
					//- 			= prevNextPost[0].name

					//- 	if prevNextPost[1]
					//- 		a.d-block(href=prevNextPost[1].path)
					//- 			= prevNextPost[1].name
					//- 			i.fas.fa-long-arrow-alt-right.ml-1

				.category-dropdown
					#accordionExample.accordion
						each item in cwData
							-var idName = item.label.replace(/ /g, "").replace(/,/g, "").replace(/&/g, "");

							.card
								//- .card-header
								h2.mb-0
									button.btn.custom-acc.btn-link.btn-block.text-left.collapsed(type='button' data-toggle='collapse' data-target=`#${idName}`)
										span= item.label
										i.fas.fa-angle-down.rotate-icon
								div(class="collapse" id= idName aria-labelledby='headingOne' data-parent='#accordionExample')
									.card-body.p-0
										ul
											each singleDocs in item.submenu
												li
													a.pl-4(href= singleDocs.path)= singleDocs.label


			.col-md-4
				.single-category.shadow.py-4.mb-4
					h5.pb-2.text-center Related Articles
					ul
						each item in docsResp
							if localVal < 5 && item.name !== bodyData.name
								li
									a(href= item.url_path+item.name)= item.title
									- localVal++;

				.single-category.shadow.py-4.mb-4
					h5.pb-2.text-center Recent Articles
					ul
						each item in recentPost
							li
								a(href= item.url_path+item.name)= item.title