- console.log(docsResp, categories, bodyData);
script.
	var dataObj = !{JSON.stringify(docsResp)}

	console.log(dataObj)

	var handleCategory = (event) => {
		let currentTarget = event.currentTarget

		if(currentTarget.classList.contains('active')) return

		let activeItem = currentTarget.parentElement.parentElement.querySelector('.active')
		activeItem.classList.remove('active')
		currentTarget.classList.add('active')

		var categoriesArr = !{JSON.stringify(categories)}

		let categoryItem = document.getElementById('category-item')
		document.getElementById('category-name').innerText = currentTarget.innerText
		categoryItem.innerHTML = ""

		categoriesArr.map((item) => {
			if(item.categorie === currentTarget.innerText) {
				categoryItem.innerHTML += `<li><a href="/">${item}</a></li>`
				//- categoryItem.innerHTML += `<li><a href="/${dataObj.all_post.title}/${item.slug}">${item.title}</a></li>`
			}
		})
		- console.log(docsResp)
	}

.document-search
	.container
		.text-white.text-center.py-5
			form.form-inline.my-2.justify-content-center
				input.form-control.mr-sm-2.search-box(type='search' placeholder='Type something here...' aria-label='Search')
				button.btn.btn-danger.my-2.my-sm-0(type='submit') Search

.document-category.py-5
	.container

		nav
			ol.breadcrumb
				li.breadcrumb-item
					a(href='/') Home
				li.breadcrumb-item
					a(href='/support') Support
				li.breadcrumb-item.text-capitalize.active(aria-current='page')= bodyData.path.substring(1)

		.row
			.col-md-4
				.single-category.shadow.py-4
					h5.pb-2.text-center CATEGORIES
					ul
						each item in categories
							li
								a(href="javascript:;" onclick='handleCategory(event)' class=categories[0]==item? "active": null)= item

			//- .col-md-5
			//- 	.box.py-4.ml-md-4
			//- 		h5#category-name.pb-2= bodyData.categories_menu[0]
			//- 		- var currentCategory= "Newsletters";
			//- 		ul
			//- 			#category-item
			//- 				each item in bodyData.all_post.body
			//- 					if bodyData.categories_menu[0] === item.categorie
			//- 						li
			//- 							a(href= "/"+ bodyData.all_post.title)= item.title

			//- .col-md-3
			//- 	.box.py-4.ml-md-4
			//- 		h5.pb-2 Most Popular Topics
			//- 		ul
			//- 			each item in bodyData.all_post.body
			//- 				li
			//- 					//- a(href=`/${bodyData.all_post.title}/${item.slug}`)= item.title

			//- 	.box.py-4.ml-md-4
			//- 		h5.pb-2 Recently Added
			//- 		ul
			//- 			each item in bodyData.all_post.body
			//- 				li
			//- a(href=`/${bodyData.all_post.title}/${item.slug}`)= item.title

		.not-found.text-center.mt-5.py-4
			h5 Didnt’t Find An Answer?
			p Our team is just an email away and ready to answer your question
			a.btn.btn-danger(href="/contact") Contact Us